.alert {
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
    background: rgba(255,0,0,.6);
    /* color: rgb(223, 59, 59); */
    color: white;
}

.success {
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
    background: rgba(0,255,0,.6);
    /* color: rgb(223, 59, 59); */
    color: green;
}

.MuiCardMedia-root {
    overflow: hidden;
}
img {
    width: 80%;
    height: 200px;
    border-radius: 5px; 
    border: 3px solid goldenrod;
    box-shadow: 1px 1px 5px 2px black;
}
.thumbnail-container {

}
.thumbnail {
    width: 90px;
    height: 90px;
}

.page-title {
    color: #1f59b1;
}
.empty-message {
    text-align: center;
}

a {
    text-decoration: none;
}