.alert {
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
    background: rgba(255,0,0,.6);
    /* color: rgb(223, 59, 59); */
    color: white;
}

.success {
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
    background: rgba(0,255,0,.6);
    /* color: rgb(223, 59, 59); */
    color: green;
}

.card {
    
}