.filter {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
    border-bottom: 1px solid #ced4da;
    
}

.search {
    padding: 5px;
    width: 340px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

