.filter {

    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    margin: 0px;
    
}


.search-container {
    margin: 10px;
    text-align: center;
}
.search {
    padding: 5px;
    width: 340px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.filter > div {
    margin: 10px 0px;;
}
