.main {
    display: flex;
    flex-direction: row;
}

.main > :first-child {
    flex-grow: 1; 
}
.main .content {
    flex-grow: 3;
}


.main-content {
    text-align: center;
    background-color: rgba(48, 50, 51, .1);
    padding: 10px;
    border-radius: 5px; 

    color: #925252;
}


html {
    /* background-color: rgba(116, 116, 116, .13); */
    /* background: var(--main-bg-color); */
}
    
.MuiButtonBase-root.MuiTab-root {
    font-family: 'Allerta Stencil', sans-serif;
    
}

.MuiTab-root {
    font-family: 'Allerta Stencil', sans-serif;
}