.preview {
    display: flex;
    background-color: #FFF;
}
 
.preview img  {
    border: 0px solid rgb(0, 0, 0);
    border-radius: 0px; 
    width: 140px;
}

.preview .preview-img-container {
    margin-right: 40px; 
}
.preview a {
    text-decoration: none;
    color: var(--primary-color);
}

.preview a h4 {
    font-size: 24px;
    margin: 2px;
}
