.trade-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.trade-details {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px #1e2735;
    background-color: #FFF;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.trade-details li {
    list-style: none;
    margin: 0;
}
.trade-details ul {
    margin: 5px;
    padding: 0;
}
.trade-details > div {
    margin: 20px auto;
    text-align: center;;
}

.requested-card {
    margin: 0 auto;
    display: inline-block;
    /* width: 370px; */
    padding: 1px;
   
    
}
.requested-card, .cards-offered {
    /* box-shadow: 1px 1px 2px 2px #1f59b1; */
    border-radius: 5px;
    
}
.requested-card h3 {
    margin: 2px;
}

.cards-offered {
    padding: 5px;
    margin-top: 50px;
}

.cards-offered h3 {
    margin: 0px;
}
.offers {
    display: flex;
}

.offers > div {
    width: 300px;
    margin: 5px;
}

.available-cards-container > div:hover  {
    /* display: flex; */
    cursor: pointer;
}
.available-cards-container > div  {
    /* display: flex; */
    cursor: pointer;
    border: 2px solid #fff;
}

.submit-offer-container {
    display: flex;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}