.user-card-actions {
    display: flex;
    margin-top: -3px;
    background-color: #FFF;
    justify-content: space-between;
}
.edit-card-image-container {
    width: 100%;
    text-align: center;
}
.edit-card-image {
    width: 300px;
    height: 300px;
}

.MuiCardActions-root .MuiButton-root:hover {
    color: #1f59b1; 
}
.user-actions {
    text-align: center;
}