.user-card-actions {
    display: flex;
    justify-content: space-between;
}

.edit-card-image-container {
    width: 100%;
    text-align: center;
}
.edit-card-image {
    width: 300px;
    height: 300px;
}